@import url(https://fonts.googleapis.com/css?family=Sarabun);

body {
	font-family: 'Sarabun',serif;
}

footer {
	/*background-color: #d1fff3;*/
	background-color: #e8fff8;
	text-align: center;
	border-style: solid;
	border-width: 0.5px;
	border-color: #d1fff3;
}

header {
	text-align: center;
}

h1 {
	padding-left: 10px;
	font-size: 300%;
	margin-bottom: 0px;
}

main {
	text-align: center;
}

.sstitre {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: small;
	color: #4f4f4f;
  	padding-top: 0.2%;
	padding-bottom: 0.2%;
}

.titre {
	/*background-color: #d6d6d6;*/
	background-color: #d1fff3;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	border-style: solid;
	border-width: 0.5px;
	border-color: #4f4f4f;
}

.nav {
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	list-style-type: none;
  	margin: 0;
  	margin-right: 3%;
}

.nav-item {
	border: all;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	padding-left: 2%;
	padding-right: 2%;
	margin: -2px;
	background-color: white;
	display: inline;
}

.formation {
	text-align: center;
	background-color: white;
	margin-left: 15%;
	margin-right: 15%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding-top: 0px;
	margin-bottom: 1%;
	margin-top: 1%;
	box-shadow: 1px 1px 2px black;
}

h2 {
	background-color: #4f4f4f;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 0.75%;
	padding-bottom: 0.75%;
	box-shadow: 1px 1px 2px black;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.contact {
	padding-top: 0%;
	list-style-type: none;
  	margin-right: 3%;
  	margin-top: 0px;
}

.contact-item {
	display: inline;
}
